:root {
  --tripalcontent-category10-solid: #245965;
  --tripalcontent-category10-solid-dark: #58a6b8;
  --tripalcontent-category10-med: rgba(36, 89, 101, 0.5);
  --tripalcontent-category10-soft: rgba(36, 89, 101, 0.25);
}

/**
 * Tripal Entity Type Listing Page.
 *
 *  -- Ecosystem Category.
 */
/** -- Background Highlight */
table.tripal-entity-type-list tr.Ecosystem td.type-category {
  background-color: var(--tripalcontent-category8-med);
}

table.tripal-entity-type-list tbody tr.Ecosystem:focus,
table.tripal-entity-type-list tbody tr.Ecosystem:hover,
table.tripal-entity-type-list tbody tr.Ecosystem:focus td.type-category,
table.tripal-entity-type-list tbody tr.Ecosystem:hover td.type-category {
  background: var(--tripalcontent-category8-soft);
}

/** -- Action Item Button: CLARO */
#block-claro-content table.tripal-entity-type-list tr.Ecosystem .dropbutton a {
  color: var(--button-fg-color);
}

/** -- Action Item Button: GIN */
#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton {
  border: 2px solid var(--tripalcontent-category8-solid-dark);
}

@media not (forced-colors: active) {
  #block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__toggle::before {
    background-color: var(--tripalcontent-category8-solid-dark);
  }
}

#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__toggle {
  border-inline-start: var(--dropbutton-border-size, 1px) solid var(--tripalcontent-category8-solid-dark) !important;
  color: var(--tripalcontent-category8-solid-dark);
}

#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__item> :hover,
#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__item> :active,
#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__item> :focus,
#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__item>a:hover,
#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__item>a:active,
#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__item>a:focus,
#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__item>input:hover,
#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__item>input:active,
#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__item>input:focus,
#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__item>button:hover,
#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__item>button:active,
#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__item>button:focus,
#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__toggle:hover,
#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__toggle:active,
#block-gin-content table.tripal-entity-type-list tr.Ecosystem .dropbutton__toggle:focus {
  background-color: var(--tripalcontent-category8-med);
}

/** -- Light Mode Text */
table.tripal-entity-type-list tr.Ecosystem a {
  color: var(--tripalcontent-category8-solid);
}

/** -- Dark Mode Text */
html.gin--dark-mode table.tripal-entity-type-list tr.Ecosystem a {
  color: var(--tripalcontent-category8-solid-dark);
}

/**
 * Tripal Entity Type Listing Page.
 *
 *  -- Samples Category.
 */
/** -- Background Highlight */
table.tripal-entity-type-list tr.Samples td.type-category {
  background-color: var(--tripalcontent-category10-med);
}

table.tripal-entity-type-list tbody tr.Samples:focus,
table.tripal-entity-type-list tbody tr.Samples:hover,
table.tripal-entity-type-list tbody tr.Samples:focus td.type-category,
table.tripal-entity-type-list tbody tr.Samples:hover td.type-category {
  background: var(--tripalcontent-category10-soft);
}

/** -- Action Item Button: CLARO */
#block-claro-content table.tripal-entity-type-list tr.Samples .dropbutton a {
  color: var(--button-fg-color);
}

/** -- Action Item Button: GIN */
#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton {
  border: 2px solid var(--tripalcontent-category10-solid-dark);
}

@media not (forced-colors: active) {
  #block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__toggle::before {
    background-color: var(--tripalcontent-category10-solid-dark);
  }
}

#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__toggle {
  border-inline-start: var(--dropbutton-border-size, 1px) solid var(--tripalcontent-category10-solid-dark) !important;
  color: var(--tripalcontent-category10-solid-dark);
}

#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__item> :hover,
#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__item> :active,
#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__item> :focus,
#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__item>a:hover,
#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__item>a:active,
#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__item>a:focus,
#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__item>input:hover,
#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__item>input:active,
#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__item>input:focus,
#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__item>button:hover,
#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__item>button:active,
#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__item>button:focus,
#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__toggle:hover,
#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__toggle:active,
#block-gin-content table.tripal-entity-type-list tr.Samples .dropbutton__toggle:focus {
  background-color: var(--tripalcontent-category10-med);
}

/** -- Light Mode Text */
table.tripal-entity-type-list tr.Samples a {
  color: var(--tripalcontent-category10-solid);
}

/** -- Dark Mode Text */
html.gin--dark-mode table.tripal-entity-type-list tr.Samples a {
  color: var(--tripalcontent-category10-solid-dark);
}

/**
 * Tripal Entity Add Content.
 * (Type Listing to choose what type of content to add.)
 *
 * -- Research Management Category.
 */
/** -- Bundle Title */
#tripal-entity-add-content #category-Ecosystem .admin-item .admin-item__title,
#tripal-entity-add-content #category-Ecosystem .admin-item a {
  color: var(--tripalcontent-category8-solid);
}

html.gin--dark-mode #tripal-entity-add-content #category-Ecosystem .admin-item .admin-item__title {
  color: var(--tripalcontent-category8-solid-dark);
}

/** -- Arrow icon */
#block-gin-content #tripal-entity-add-content #category-Ecosystem .admin-item .admin-item__link::before {
  background: var(--tripalcontent-category8-solid);
}

html.gin--dark-mode #tripal-entity-add-content #category-Ecosystem .admin-item .admin-item__link::before {
  background: var(--tripalcontent-category8-solid-dark);
}

/** -- Hover effect */
#block-gin-content #tripal-entity-add-content #category-Ecosystem .admin-item .admin-item__link:hover,
#block-gin-content #tripal-entity-add-content #category-Ecosystem .admin-item .admin-item__link:focus {
  background: var(--tripalcontent-category8-soft);
}

#tripal-entity-add-content #category-Ecosystem .admin-item .admin-item__link:hover~.admin-item__description,
#tripal-entity-add-content #category-Ecosystem .admin-item .admin-item__link:focus~.admin-item__description {
  color: var(--tripalcontent-category8-solid);
}

html.gin--dark-mode #tripal-entity-add-content #category-Ecosystem .admin-item .admin-item__link:hover~.admin-item__description,
html.gin--dark-mode #tripal-entity-add-content #category-Ecosystem .admin-item .admin-item__link:focus~.admin-item__description {
  color: var(--tripalcontent-category8-solid-dark);
}

/** -- CLARO */
#block-claro-content #tripal-entity-add-content #category-Ecosystem .admin-item .admin-item__link::before {
  background-image: url("data:image/svg+xml,%3csvg width='9' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.71.314L.29 1.723l5.302 5.353L.289 12.43l1.422 1.408 6.697-6.762z' fill='%235C8925'/%3e%3c/svg%3e");
}

/**
 * Tripal Entity Add Content.
 * (Type Listing to choose what type of content to add.)
 *
 * -- Research Experiment Category.
 */
/** -- Bundle Title */
#tripal-entity-add-content #category-Samples .admin-item .admin-item__title,
#tripal-entity-add-content #category-Samples .admin-item a {
  color: var(--tripalcontent-category10-solid);
}

html.gin--dark-mode #tripal-entity-add-content #category-Samples .admin-item .admin-item__title {
  color: var(--tripalcontent-category10-solid-dark);
}

/** -- Arrow icon */
#block-gin-content #tripal-entity-add-content #category-Samples .admin-item .admin-item__link::before {
  background: var(--tripalcontent-category10-solid);
}

html.gin--dark-mode #tripal-entity-add-content #category-Samples .admin-item .admin-item__link::before {
  background: var(--tripalcontent-category10-solid-dark);
}

/** -- Hover effect */
#block-gin-content #tripal-entity-add-content #category-Samples .admin-item .admin-item__link:hover,
#block-gin-content #tripal-entity-add-content #category-Samples .admin-item .admin-item__link:focus {
  background: var(--tripalcontent-category10-soft);
}

#tripal-entity-add-content #category-Samples .admin-item .admin-item__link:hover~.admin-item__description,
#tripal-entity-add-content #category-Samples .admin-item .admin-item__link:focus~.admin-item__description {
  color: var(--tripalcontent-category10-solid);
}

html.gin--dark-mode #tripal-entity-add-content #category-Samples .admin-item .admin-item__link:hover~.admin-item__description,
html.gin--dark-mode #tripal-entity-add-content #category-Samples .admin-item .admin-item__link:focus~.admin-item__description {
  color: var(--tripalcontent-category10-solid-dark);
}

/** -- CLARO */
#block-claro-content #tripal-entity-add-content #category-Samples .admin-item .admin-item__link::before {
  background-image: url("data:image/svg+xml,%3csvg width='9' height='14' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.71.314L.29 1.723l5.302 5.353L.289 12.43l1.422 1.408 6.697-6.762z' fill='%235C8925'/%3e%3c/svg%3e");
}
