<div class="instructions overview">
<p>Here you will want to describe the experiment like you would to a graduate degree committee or when applying for a grant. This part of your experiment will likely evolve as you complete the experiment.</p>

<p>As you work through the following suggestions, remember to stay <em>high level</em> and that the result should only be <em>1-3 paragraphs</em>. This is essentially an abstract for your experiment!</p>

<p>At the start focus on including:</p>
<ul>
  <li>any core background information</li>
  <li>highlight the main question driving this experiment</li>
  <li>how you will answer this question</li>
</ul>

<p>Once you are done collecting your data, come back and add:</p>
<ul>
  <li>what data was collected</li>
  <li>what analysis will be done</li>
</ul>

<p>As you are wrapping up analysis:</p>
<ul>
  <li>the results of your analysis</li>
  <li>how those results answer the main driving question</li>
</ul>

</div>
