<div class="instructions experiment-funding">
	<p>Here you will indicate how your experiment is being funded. If you are not sure, reach out to your PI or supervisor for this information.</p>
	<p>The grant and organization should already have been created by someone else. If not, leave this blank for now and let someone know they need to be added.</p>
</div>
