<div class="instructions experiment-researchers">
	<p>This section helps you give credit to all the people involved in your experiment. Please revisit this section throughout the experiment to add the researchers as they become involved in your experiment.</p>
	<p>When you get to the publication stage, this section will help you with your author list. Additionally, it helps others reuse your data by providing points of contact for any questions they may have.</p>
</div>
